<div class="container">
  <div class="jumbotron">
    <h1>DOJO EMBER</h1> 
    <ul>
        <h4>Jose Fernando Navarro</h4>
    </ul>  
  </div>
  {{#link-to 'user' class="btn btn-success"}}Ver Lista {{/link-to}}  
  
</div>
{{outlet}}
